.model-container {
    width: 100%;
}

.model-location-select {
    display: inline-block;
    margin: 10px 0px;
    width: 20%;
}

.model-lines-select {
    display: inline-block;
    margin: 10px 10px 0px 10px;
    width: 30%;
}

.model-location {
    float: right;
}
